<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'egressus_app/css/login.css' %}">
    <title> Egressus - Login</title>
</head>
<body>
    <!--Início do formulario-->
    <div class="container">
        <div class="main-content">
            <div class="form-header">
                <img src="{% static 'egressus_app/img/logo 2.png' %}" alt="">
                 <br>
             </div>
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <!--Cabeçalho do formulário de cadastro-->
                <div class="form-content">
                <!--Seção de inputs-->    
                    <div class="form-input">
                        <label for="email">Email</label>
                        <input type="email" class="email" placeholder="Digite o seu email" name="email">
                    </div>
                    <div class="form-input">
                        <label for="senha">Senha</label>
                        <input type="password" class="senha-user" placeholder="Digite sua senha" name="password">
                    </div>
                    <br>

                </div>
                <div class="submit-button">
                    <button>Entrar</button>
                </div>
                <!-- <div class="login-redirect">
                    <span>Deseja cadastrar uma Instituição de Ensino? <a href="../pages/cadastro.html">Cadastre aqui</a></span>
                </div>
                <div class="login-redirect">
                    <span>Deseja cadastrar um usuário? <a href="../pages/cadEgresso.html">Vamos lá!</a></span>
                </div> -->
            </form>
        </div>
    </div>
</body>
</html>